.section-title {
  margin-bottom: 60px;
}
.section-title .line {
  width: 60px;
  height: 4px;
  background-color: var(--c-brand);
  margin: 16px auto 24px;
}
.section-title p {
  max-width: 500px;
}
.icon-box {
  width: 70px;
  height: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(var(--c-brand-rgb), 0.2);
  color: var(--c-brand);
  font-size: 34px;
  flex: none;
}
