/* hero background image and gradient color */
.hero {
  background: linear-gradient(
      rgba(var(--c-brand-rgb), 0.6),
      rgba(var(--c-brand-rgb), 0.4)
    ),
    url("../assets/images/hero-1.jpg");
  background-position: center;
  background-size: cover;
}
