.navbar {
  box-shadow: var(--box-shadow);
}
.navbar-nav .nav-link {
  font-weight: 500;
  color: var(--c-dark);
}
.navbar-nav .nav-link:active {
  color: var(--c-brand);
}
/* 
.btn {
    
  font-size: 14px;
}  */

.btn-brand {
  background-color: var(--c-brand);
  border-color: var(--c-brand);
  font-size: 14px;
}
.btn-brand:hover {
  background-color: var(--c-brand-light);
  border-color: var(--c-brand-light);
}
.btn-brand:active {
  background-color: var(--c-brand-light) !important;
  border-color: var(--c-brand-light) !important;
}
